.input{
	  color:#488AC7;
	  font-size:20px;
	  display:block;
	  margin:auto;
	  width:50%;
	  height:50%;
	 
}

.box{
	margin-left:250px;
	width:60%;
	height:50%;
}

.button{
	width:20%;
	height:20%;
}

.enter{
	 
	  width:100%;
	  height:300px;
	}
	
	
	
	input[type="file"] {
    display: none;
}

.custom-file-upload {
	
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	background-color:#4CAF50;
	margin-left:550px;
	color:white;
	
}

.tag {
  background: #A9A9A9	;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag::before {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #A9A9A9	;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: green;
  color: white;
}

.tag:hover::after {
   border-left-color: green; 
}




.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 23px;
  width: 25px;
}

h4:card-title:hover{
	background-color:green;
}
